body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  text-align: center;
}

#characters-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

img.character-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15px;
  margin: 15px;
  border-radius: 5px;
  background-color: white;
  box-shadow: 0px 3px 10px 2px rgba(0, 0, 0, 0.2);
  width: 300px;
}

.attribute {
  font-weight: bold;
  margin-right: 10px;
}

.character-detail {
  margin: 5px;
}