body {
  font-family: "Arial", sans-serif;
  background: linear-gradient(75deg, #0B8686, #f9f871);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: #eeeeee;
  background: #eeeeee;
  border-radius: 10px;
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 10px 0 35px 0;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
}

button {
  padding: 10px 20px 10px 20px;
  border: 0px;
  border-radius: 5px;
  margin: 0;
  background-color: #82d281;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: #6eb48b;
}

#result {
  margin-top: 30px;
  font-weight: bold;
  font-size: 25px;
  color: #0B8686;
}

#retry {
  background-color: #e24444;
  display: none;
  margin-top: 20px;
}

#retry:hover {
  background-color: #ce4a40;
}

#pOfScore {
  padding: 0;
  margin-top: 10px;
}